.adobe/
#.aspell.conf
#.aspell.en.prepl
#.aspell.en.pws
#.aspell.es.prepl
#.aspell.es.pws
#.bash_aliases
.bash_history
#.bash_logout
#.bashrc
#bin/
.cache/
.cinelerra-cv/
.clamtk/
.config/
.cups/
.dbus/
Desktop/
#.dircolors
.dmrc
Documents/
Downloads/
.dropbox/
Dropbox/
.dropbox-dist/
.eclipse/
.emacs.d/
.epsxe/
.FreeCAD/
.gconf/
.gimp-2.8/
#.gitconfig
#.gitignore
.gksu.lock
.gnome2/
.gnupg/
.gnuplot_history
.hardinfo/
.history/
.hplip/
.ICAClient/
.ipython/
.java/
.jupyter/
.lesshst
.local/
.macromedia/
#.mailrc
.matlab/
/mnt/ssd/home/.mozilla/
.mplayer/
.mtpaint
Music/
.mysql_history
.nano/
.nv/
.nvidia-settings-rc
PDF/
Pictures/
.pki/
#.profile
.psensor/
.pulse-cookie
.purple/
.python_history
R/
.rdesktop/
#.Renviron
.ripperXrc
.rpmdb/
.rstudio-desktop/
.sane/
.SASAppData/
.sasuser.v94/
.screenlayout/
#.screenrc
.scribus/
.selected_editor
.ssh/
.steam/
.steampath
.steampid
.subversion/
.sudo_as_admin_successful
.sylpheed-2.0/
texmf/
.texmf-var/
.thumbnails/
.units_history
Videos/
.vim/
.viminfo
#.vimrc
VirtualBox*/
.weather/
.wget-hsts
.Xauthority
.xinputrc
.xpaint/
.Xresources
.xscreensaver
.xsession-errors
.xsession-errors.old
.zoom/
