*.swp
.adobe/
.aspell*
#.bash_aliases
.bash_aliases2
.bash_config/
.bash_environ
.bash_history
#.bash_logout
#.bashrc
#bin/
.cache/
.cinelerra-cv/
.clamtk/
.config/*
!.config/lxterminal/
!.config/openbox/
!.config/pcmanfm/
.cups/
.dbus/
Desktop/
#.dircolors
.dmrc
Documents/
Downloads/
.dropbox*/
Dropbox/
.eclipse/
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/themes/
.epsxe/
.fceux/
.FreeCAD/
.gconf/
.gimp-*/
.gitconfig
.gksu.lock
.gnome2/
.gnupg/
.gnuplot_history
.gstreamer-*/
.hardinfo/
.history/
.hplip/
.ICAClient/
.ipython/
.java/
.jupyter/
.lesshst
.local/*
!.local/share/
.local/share/*
!.local/share/gedit/
.macromedia/
.mailrc
.matlab/
.mozilla
.mplayer/
.mtpaint
Music/
.mysql_history
.nano/
.nv/
.nvidia-settings-rc
.nvvp_workspace/
.openshot/
.oracle_jre_usage/
PDF/
Pictures/
.pki/
.PlayOnLinux/
#.profile
.psensor/
.pulse-cookie
.purple/
.putty/
.python_history
.QtWebEngineProcess/
R/
.Rhistory
.rdesktop/
.Renviron
.ripperXrc
.rpmdb/
.rstudio-desktop/
.sane/
.SASAppData/
.sasuser.v*/
#.screen/
.screenlayout/
#.screenrc
.scala_history
.scribus/
.selected_editor
.smpd
.ssh/
.steam/
.steampath
.steampid
.subversion/
.sudo_as_admin_successful
.sylpheed-*/
texmf/
.texmf-var/
.thumbnails/
#.tmux.conf
.units_history
Videos/
.vim/*
!.vim/after/
!.vim/colors/
.viminfo
#.vimrc
VirtualBox*/
.weather/
.wget-hsts
.wine/
.wine32/
.Xauthority
.xinputrc
.xpaint/
#.Xresources
#.xscreensaver
.xsession-errors
.xsession-errors.old
.zoom/
