! Use color application resources
*customization: -color
XTerm.termName: xterm-256color

! Save scrollback lines
*vt100.saveLines: 4096

! Change font and size
*vt100.faceName: monospace
*vt100.faceSize: 12

! Enable normal copy/paste key sequences
*vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

