[Desktop Entry]
Encoding=UTF-8
Name=LXTerminal
GenericName=Terminal
Comment=Use the command line
Exec=lxauto -d 1 screen
Icon=lxterminal
Type=Application
StartupNotify=true
Categories=GTK;System;TerminalEmulator;
Keywords=console;command line;execute;
