[Desktop Entry]
Encoding=UTF-8
Name=LXTerminal
GenericName=Terminal
Comment=Use the command line
Exec=lxauto -x -d 1 -w 0 screen
Terminal=false
Icon=lxterminal
Type=Application
StartupNotify=true
Categories=GTK;System;TerminalEmulator;
Keywords=console;command line;execute;
